// wrapper -----------------------------------------

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

// /wrapper -----------------------------------------

// Main block -----------------------------------------
.main {
  flex: 1 1 auto;
}

// /Main block -----------------------------------------
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
