// Variables -------------------------------------------------
$mw: 1340px;
$md1: $mw + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

// /Variables -------------------------------------------------

// Null, General settings -----------------------------------------
body {
  font-family: $fontFamlily;
  font-size: $fontSize;
  color: $mainColor;
  font-weight: 400;
  line-height: 120%;

  &.lock {
    overflow: hidden;
  }

  @media (max-width: $md3) {
    font-size: 16px;
  }
}

// /Null, General settings -----------------------------------------

// wrapper -----------------------------------------

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

// /wrapper -----------------------------------------

// Container -----------------------------------------

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: $mw;
  width: 100%;

  @media (max-width: $md2) {
    padding: 0 15px;
    max-width: $mw - 10px;
  }

  @media (max-width: $md4) {
    padding: 0 10px;
    max-width: $mw - 20px;
  }
}

// /Container  -----------------------------------------

// Main block -----------------------------------------
.main {
  flex: 1 1 auto;
}

// /Main block -----------------------------------------
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
