*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

main,
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  list-style: none;
  width: 100%;
  height: 100%;
  font-size: 100%;
}

html {
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
}

body,
p {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.2;
}

input::-ms-clear {
  display: none;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
}

a,
a:visited {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}
