/* variables  */

// <color variables>

$white: #fff;
$black: #000;
$mainColor: #262626;
$secondaryColor: #0086b3;

// </color variables>

// <font variables>

$fontSize: 18px;
$fontFamlily: "Roboto", sans-serif;

// </font variables>
